<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>

.title-block{
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
}

.sem-info{
  max-width: 1000px;
  margin: auto;
  padding-top: 30px;
  border-radius: 30%;
}

.core-subjects{
  max-width: 800px;
  margin: auto;
}

.elective-subjects{
  max-width: 1100px;
  margin: auto;
}

  </style>
  <title>Course Registration</title>
</head>
<body>
  <%- include('./partials/flash')%>
  <%- include('./partials/navbar')%>
  
    <div class="title-block">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid d-flex justify-content-center">
                <a class="navbar-brand " href="#">Course Registration</a>
            </div>
          </nav>
    </div>

    <div class="sem-info">
        <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Current Degree</th>
                <th scope="col">Branch</th>
                <th scope="col">Semester</th>
                <th scope="col">Academic Year</th>
                <th scope="col">Current Credits</th>
                <th scope="col">Max Credits</th>
                <th scope="col">Max Electives</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><%=student.aprog%></td>
                <td><%=student.sp_code%></td>
                <td><%=studentState.currentSem%></td>
                <td>2022-23</td>
                <td><%=studentState.currentCredits%></td>
                <td><%=rules.maxCredits%></td>
                <td><%=rules.maxElectives%></td>
              </tr>
            </tbody>
          </table>
    </div>

    <br><br>
    
    <div class="core-subjects">
        <h4 class="d-flex justify-content-center">Core Subjects</h4>
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Subject Name</th>
                <th scope="col">Subject Code</th>
                <th scope="col">Credits</th>
                <th scope="col">Select/Drop</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              
               <%let i=0; for(let subject of finalSubjects){%>
                <tr>
                  <td><%=subject.sub_name%></td>
                  <td><%=subject.sub_code%></td>
                  <td><%=availSubjects[i].sub_credit%></td>
                  <td ><form action="/student/courseRegister/<%=student._id%>/<%=subject._id%>" method="post">
                    <button class="btn btn-primary" type="submit" <%if(student.currentSubjects.includes(subject._id) || 
                    studentState.currentCredits>=rules.maxCredits  ){%>disabled<%}%>>
                    Select
                    </button>
                    <button class="btn btn-warning
                    " type="submit" <%if(!student.currentSubjects.includes(subject._id)){%>disabled<%}%>>Drop</button>
                  </form></td>
                  </tr>
        
        <%i++;}%>

            </tbody>
          </table>
        <br><br>
    </div>


    <div class="elective-subjects">
      <h4 class="d-flex justify-content-center">Electives</h4>
      <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Subject Name</th>
              <th scope="col">Subject Code</th>
              <th scope="col">Credits</th>
              <th scope="col">Slot</th>
              <th scope="col">Seats</th>
              <th scope="col">Select/Drop</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
             <%let j=0; for(let elective of finalElectives){%>
              <tr>
                <td><%=elective.sub_name%> <br></td>
                <td><%=elective.sub_code%></td>
                <td><%=availElectives[j].sub_credit%></td>
                <td><%=availElectives[j].slot%></td>
                <td><%=availElectives[j].seats%></td>
                <td ><form action="/student/courseRegister/<%=student._id%>/<%=elective._id%>" method="post">
                  <button class="btn btn-primary
        
                  " type="submit" <%if(student.currentSubjects.includes(elective._id) || 
                  studentState.currentCredits>=rules.maxCredits || 
                  studentState.currentElectives>=rules.maxElectives || 
                  blockedElectives.includes(availElectives[j].slot)  ){%>disabled<%}%>>
                  Select
                  </button>
                  <button class="btn btn-warning
                  " type="submit" <%if(!student.currentSubjects.includes(elective._id)){%>disabled<%}%>>Drop</button>
                </form></td>
                </tr>
      <%j++;}%>
          </tbody>
        </table>
      <br><br>
    </div>
    <%=blockedElectives.includes('E1')%>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>