<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>

  </style>
  <title>Course Registration</title>
</head>
<body>
  <%- include('./partials/flash')%>
  <%- include('./partials/navbar')%>
    <div>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Semester
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">I</a></li>
                          <li><a class="dropdown-item" href="#">II</a></li>
                          <li><a class="dropdown-item" href="#">III</a></li>
                          <li><a class="dropdown-item" href="#">IV</a></li>
                          <li><a class="dropdown-item" href="#">V</a></li>
                          <li><a class="dropdown-item" href="#">VI</a></li>
                          <li><a class="dropdown-item" href="#">VII</a></li>
                          <li><a class="dropdown-item" href="#">VIII</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                <a class="navbar-brand" href="#">Course Registration</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </nav>
    </div>

    <div>
        <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Current Degree</th>
                <th scope="col">Branch</th>
                <th scope="col">Semester</th>
                <th scope="col">Academic Year</th>
                <th scope="col">Current Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><%=student.aprog%></td>
                <td><%=student.sp_code%></td>
                <td><%=studentState.currentSem%></td>
                <td>2022-23</td>
                <td><%=studentState.currentCredits%></td>
              </tr>
            </tbody>
          </table>
    </div>

    <br><br>

    <div>

        <!-- <h1>Course Requirements</h1> -->
        <br>
        <div class="navbar">
            <form class="container-fluid justify-content-start">
              <button class="btn btn-outline-success me-2" type="button">All Courses</button>
              <button class="btn btn-outline-success me-2" type="button">Core Subjects</button>
              <button class="btn btn-outline-success me-2" type="button">FECs</button>
              <button class="btn btn-outline-success me-2" type="button">Electives</button>
            </form>
        </div>
    </div>

    <br>

    <div>
        <h3>Core Subjects</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Subject Name</th>
                <th scope="col">Subject Code</th>
                <th scope="col">Credits</th>
                <th scope="col">Select/Drop</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              
               <%let i=0; for(let subject of finalSubjects){%>
                <tr>
                  <td><%=subject.sub_name%></td>
                  <td><%=subject.sub_code%></td>
                  <td><%=availSubjects[i].sub_credit%></td>
                  <td ><form action="/student/courseRegister/<%=student._id%>/<%=subject._id%>" method="post">
                    <button class="btn btn-primary
          
                    " type="submit" <%if(student.currentSubjects.includes(subject._id)){%>disabled<%}%>>Select</button>
                    <button class="btn btn-warning
                    " type="submit" <%if(!student.currentSubjects.includes(subject._id)){%>disabled<%}%>>Drop</button>
                  </form></td>
                  </tr>
        
        <%i++;}%>

            </tbody>
          </table>
        <br><br>
    </div>


    <div>
      <h3>Electives</h3>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Subject Name</th>
              <th scope="col">Subject Code</th>
              <th scope="col">Credits</th>
              <th scope="col">Slot</th>

              <th scope="col">Select/Drop</th>

              
            </tr>
          </thead>
          <tbody class="table-group-divider">
            
             <%let j=0; for(let elective of finalElectives){%>
              <tr>
                <td><%=elective.sub_name%></td>
                <td><%=elective.sub_code%></td>
                <td><%=availElectives[j].sub_credit%></td>
                <td><%=availElectives[j].slot%></td>

                <td ><form action="/student/courseRegister/<%=student._id%>/<%=elective._id%>" method="post">
                  <button class="btn btn-primary
        
                  " type="submit" <%if(student.currentSubjects.includes(elective._id)){%>disabled<%}%>>Select</button>
                  <button class="btn btn-warning
                  " type="submit" <%if(!student.currentSubjects.includes(elective._id)){%>disabled<%}%>>Drop</button>
                </form></td>
                </tr>
      
      <%j++;}%>

          </tbody>
        </table>
      <br><br>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>